<!-- resources/templates/add_product.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>

</head>

<body>

<h2>Add Product</h2>

<form th:action="@{/products/add}" method="post" th:object="${newProduct}">
  <label>Name: </label><input type="text" th:field="*{name}" /><br>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</span><br>
  <label>Weight: </label><input type="text" th:field="*{weight}" /><br>
  <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Invalid weight</span><br>
  <label>Price: </label><input type="text" th:field="*{price}" /><br>
  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Invalid price</span><br>
  <label>Category: </label>
  <select th:field="*{categoryId}">
    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
  </select><br>
  <input type="submit" value="Add Product" />
</form>

<i th:text="${error}"></i>

</body>

</html>
